@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

$primary-color: #191a1d;
$secondary-color: #4b6cc1;
$light: #fff;
$gray: #5e5e5e;
$light-gray: #ababab;
$background-gray: #f6f6f6;
$really-light-gray: #919191;
$dark: #121316;
$light-dark: #191a1d;

// $show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.6s ease-out;
}

@mixin background {
}

// Set Text Color
// @function set-text-color($color) {
//   @if (lightness($color) > 40) {
//     @return #000;
//   } @else {
//     @return #fff;
//   }
// }

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 801px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
