.btn-large {
  padding: 18px 40px;
  font-size: 28px;
  background-color: $secondary-color;
  color: $light;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    text-decoration: none;
    color: $light;
    padding: 19px 41px;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    transition: all 0.5s ease;
  }
}

.btn-medium {
  display: inline-block;
  padding: 16px 25px;
  font-size: 20px;
  background-color: $secondary-color;
  color: $light;
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.5s ease;

  margin: 0 auto;

  &:hover {
    text-decoration: none;
    color: $secondary-color;
    padding: 19px 36px;
    border: 2px solid $secondary-color;
    background-color: $light;
    transition: all 0.5s ease;
  }
}

.btn-card {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  background-color: $light;
  color: $secondary-color;
  border-radius: 0px;
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0 auto;
  border: 1px solid $secondary-color;
  text-align: center;
  width: 100%;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: $light;
    padding: 6px 20px;
    background-color: $secondary-color;
    transition: all 0.5s ease;
    scale: 1.05;
    cursor: pointer;
  }
}
.btn-icon {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  background-color: $secondary-color;
  color: $light;
  border-radius: 0px;
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: $secondary-color;
    padding: 5px 20px;
    background-color: $light;
    transition: all 0.5s ease;
    scale: 1.05;
    border: 1px solid $secondary-color;
  }
}

.card {
  padding: 0;
  border-radius: 13px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 13px;
}

.sqaure-image {
  overflow: hidden;
  height: 50%;
  /* padding controls height. will always be perfectly sqaure regardless of width */

  position: relative;
  cursor: pointer;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  & > img {
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
}
